body {
  background: url("../img/cricket-ball.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}
.headingc{
	height:220px;
   background:#F0F0F0;
   border:1px solid #CCC;
   width:500px;
   margin:0px auto;
   text-align: center;
}
.heading {
    height:100px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:500px;
    margin:0px auto;
    text-align: center;
}

.hitScore {
	margin-left:400px;
}

.ip {
	margin: 20px 90px 30px 10px;
	padding: 30px 30px 30px 30px;
	text-align: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-circle.btn-xlc {
  width: 90px;
  height: 90px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  color:red;
}
.scoreWidget {

}

.scoreBoard {

} 
